<div class="contents">
    <div class="header-label">
        <h1>{{headerTitle}}</h1>
        <h2 *ngIf="descriptionTitle">{{descriptionTitle}}</h2>
    </div>

    <div class="header-search">
        <app-header-search [showFilterButton]="showFilterButton"></app-header-search>
    </div>

    <div class="banner">
        <div class="header-bell-profile">
            <app-header-bell></app-header-bell>
            <app-header-profile></app-header-profile>
        </div>
        <!-- <div class="dropdown" [ngClass]="{ 'show': isDropdownOpen }">
            <h2>{{ username }}</h2>
            <h5>Administrator</h5>
            <button class="manage-account" (click)="openDialog()">
                <img src="/assets/images/settings.png" alt="Manage Account Icon" class="icon">
                <span>Manage account</span>
            </button>        
        </div> -->
    </div>
</div>

<div *ngIf="filterClick" class="filter-container">
    <div class="filter-options">
        <div class="left">
            <div class="search-label">
                <label>Search by:</label>
              </div>
          
              <div class="name-button" 
              [ngClass]="{'active': activeFilter === 'name'}" 
              (click)="setNameFilter()">
             Name
         </div>
         
         <div class="role-button" 
              [ngClass]="{'active': activeFilter === 'role'}" 
              (click)="setRoleFilter()">
             Role
         </div>
         
         <div class="rfid-button" 
              [ngClass]="{'active': activeFilter === 'rfid'}" 
              (click)="setRFIDFilter()">
             RFID
         </div>
         
         <div class="branch-button" 
              [ngClass]="{'active': activeFilter === 'branch'}" 
              (click)="setBranchFilter()">
             Branch
         </div>
         
         <div class="fingerprint-button" 
              [ngClass]="{'active': activeFilter === 'fingerprint'}" 
              (click)="setFingerprintFilter()">
             Fingerprint
         </div>
         
        </div>
      
        <div class="right">
            <div class="sort-container">
                <div class="sort-label">
                    <label>Sort by:</label>
                </div>
                
                <div class="sort-options-container">
                    <select class="sort-options" [(ngModel)]="sortOption" (change)="onSortChange()">
                        <option value="" disabled selected>Choose</option>
                        <option value="nameAsc">Sort by Name (A-Z)</option>
                        <option value="nameDsc">Sort by Name (Z-A)</option>
                        <option value="roleAsc">Sort by Role (A-Z)</option>
                        <option value="roleDsc">Sort by Role (Z-A)</option>
                        <option value="branchAsc">Sort by Branch (A-Z)</option>
                        <option value="branchDsc">Sort by Branch (Z-A)</option>
                        <option value="logAsc">Sort by Last Log (Recent)</option>
                        <option value="bio">Has Registered Bio</option>
                        <option value="noBio">No Registered Bio</option>
                    </select>
                </div>
            </div>
            <div class="date-container">
                <div class="date-label">
                    <label>Date:</label>
                </div>
                <div class="datepicker" >
                    <mat-form-field appearance="fill" class="date-field">
                      <input matInput [matDatepicker]="picker" placeholder="MM/DD/YYYY" class="date-input">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>
  
