.search {
    height: 60px;
    border-radius: 10px;
    background-color: #FFFFFF99;
    display: flex;
    align-items: center;
    width: 100%;
    visibility: hidden;
    position: absolute;
}

.search:hover {
    background-color: #FFFFFF99;
    /* Updated background-color */
}

.search:hover input {
    background-color: #FFFFFF99;
    /* Updated background-color */
}


.search img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.search input {
    height: 60px;
    margin-left: 20px;
    flex: 1;
    border: none;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
    width: auto;
    background-color: #FFFFFF99;
    /* Updated background-color */

}




@media screen and (max-width: 580px) {
    .search input {
        font-size: 1rem;
    }

}