.main-container{
    display: grid;
    grid-template-columns: 200px auto;
    height: 100%;
}

.photoholder{
    grid-column: 1 / 2;
    width: 100%;
    border-radius: 10px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.photoholder img{
    width: 190px;
    height: 190px;
}

.right-container{
    grid-column: 2 / 3;
    margin-left: 20px;
    gap: 20px;
    display: grid;
}

.user-name{
    height: 40px;
    width: auto;
    background-color: var(--background);
    color: black;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 1rem;
}

img{
width: 20px;
}

.user-role, .user-email, .user-contact{
    display: flex;
    align-items: center;
    height:40px;
}

.user-role{
    color: var(--secondary);
}

span{
    margin-left: 20px;
}