.import{
    width: 140px;
    height: 40px;
    border-radius: 10px; /* Updated border-radius */
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    color: var(--success);
}

.import img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.import:hover{
    background-color: var(--success);
    color: white;
}
.import:hover img {
    content: url('/assets/images/import-white.png');

}