.import{
    width: 140px;
    height: 40px;
    border-radius: 10px; /* Updated border-radius */
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    color: var(--success);
    cursor: pointer;
}

.import img{
    width: 20px;
    height: 20px;
}

.import:hover{
    background-color: var(--success);
    color: white;
}
.import:hover img {
    content: url('/assets/images/import-white.png');

}

span{
    margin-left: 10px;
}

@media screen and (max-width: 700px) {
    
    .import {
        width: 40px; /* Updated width */
    }

    .import img{
        width: 20px;
        height: 20px;
    }

    span{
        display: none;
    }
 }