<div *ngIf="employeeDetails" class="container">
    <div class="card">
        <div class="close-container">
            <button class="close-pointer" (click)="hideEmployeeDetails()">
                <img class="icon-pointer" src="/assets/images/exit.png">
            </button>
        </div>
        <div class="user-image">
            <img src="" alt="">
        </div>
        <div class="user-employee-information">
            <p>Name: {{ employeeDetails.fullname }}</p>
            <p>Position: {{ employeeDetails.role }}</p>
            <p>Id: {{ employeeDetails.id }}</p>
            <p>Phone#: {{ employeeDetails.phone}}</p>
        </div>
    </div>
</div>
