<div class="employee-details-container" *ngIf="employeeDetails">
    <div class="container">
    <div class="header">
        <span>Update User</span>
        <button class="close pointer" (click)="hideEmployeeDetails()">
            <img class="icon pointer" src="/assets/images/exit.png">
        </button>
    </div>

    <div [formGroup]="updateEmployeeForm" class="main-container">
        <div class="left-container">
            <div class="photo-section">
                <img class="photoholder" [src]="photoSrc || 'http://localhost:3000/api/employee/profile-image/' + employeeDetails.profileImage">
                <div class="icons pointer">
                    <div class="edit">
                        <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" #fileInput style="display: none;">
                        <img class="icon pointer" src="/assets/images/edit-blue.png" (click)="fileInput.click()">
                    </div>
                    <div class="delete">
                        <img class="icon pointer" src="/assets/images/delete-red.png">
                    </div>
                </div>
            </div>

            <div class="name">
                <span>Full Name</span>
                <input formControlName="fullname" class="textbox" type="text" placeholder="Enter Name">
            </div>
            <div class="email">
                <span>Email</span>
                <input formControlName="email" class="textbox" type="text" placeholder="Enter Name">
            </div>
            <div class="rfid-container">
                <span>RFID</span>
                    <div class="rfid">

                    </div>
            </div>
            <div class="dismiss-container">
                <div class="dismiss-user pointer">
                    Dismiss
                </div>
            </div>

        </div>
        <div class="right-container">
            <div class="contact-number">
                <span>Contact Number</span>
                <input formControlName="phone" class="textbox" type="text" placeholder="+639 xxx xxx xxxx">
            </div>

            <div class="roles">
                <label for="roles">Select Roles</label>
                <select name="roles" formControlName="role">
                    <option value="CEO">CEO</option>
                    <option value="Administrator">Admin</option>
                    <option value="Manager">Manager</option>
                    <option value="HR">HR</option>
                    <option value="DevOps">DevOps</option>
                    <option value="QA">QA</option>
                    <option value="Developer">Developer</option>
                    <option value="Guest">Guest</option>
                </select>
            </div>

            <div class="fingerprint-container">
                <span>Fingerprint</span>
                <div class="fingerprint-content">
                    <div class="icon-holder">
                    <img src="/assets/images/fingerprint-blue.png" class="fingerprint-icon" alt="fingerprint icon">
                </div>
                    <div class="begin-scan pointer">
                        Begin scan
                    </div>
                    <div class="details-holder">
                        <span>Fingerprint ID</span>
                        <input type="text" placeholder="135135115161">
                    </div>
                    <div class="fingerprint-confirmation">
                    <div class="dismiss-fingerprint pointer">Dismiss</div>
                    <div class="submit-fingerprint pointer">Submit</div>
                </div>
                </div>
            </div>
            <div (click)="updateEmployee()" class="submit-user pointer">Update</div>
        </div>
    </div>
</div>
</div>