<body>
    <div class="modal-overlay">
        <div class="modal-container">
            <div class="header">
                <div class="header-text">
                    <span class="header-title">Add User</span>
                    <span class="header-subtitle">Make sure to submit your details</span>
                </div>
                <button class="close pointer" (click)="hideAddUserModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path
                            d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"
                            fill="#464646" />
                    </svg>
                </button>
            </div>

            <!-- add-user-modal.component.html -->
            <canvas #canvas width="100" height="100" style="display: none;"></canvas>


            <!-- Add your form or content here -->
            <form [formGroup]="userForm" (keydown.enter)="preventDefault($event)">
                <div class="modal-content">
                    <!--start of left div-->
                    <div class="modal-content-left">
                        <div class="name-container">
                            <p><span class="required" *ngIf="!userForm.get('fullname')?.valid">*</span> Full Name</p>
                            <input type="text" id="fullname" formControlName="fullname" placeholder="Input Full Name"
                                [ngClass]="{'filled': userForm.get('fullname')?.value.length > 0}">
                        </div>
                        <div class="role-container">
                            <p><span class="required" *ngIf="!userForm.get('role')?.valid">*</span>Role</p>
                            <div class="drop-down" (click)="toggleDropdown()" #roleDropdown>
                                <div class="dropdown-container">
                                    <div 
                                        class="custom-dropdown" 
                                        [ngClass]="{'filled': userForm.get('role')?.value.length > 0}">
                                        <div class="selected-option">{{ selectedRole || 'Select Role' }}</div>
                                        <div *ngIf="roledropdownOpen" class="dropdown-options">
                                            <div 
                                                class="dropdown-option" 
                                                *ngFor="let role of roles" 
                                                (click)="selectRole(role)">
                                                {{ role }}
                                            </div>
                                        </div>
                                    </div>
                              
                                  <!-- Optional Hidden select element -->
                                  <select 
                                    id="addRole" 
                                    formControlName="role" 
                                    name="roleDropDown" 
                                    style="display: none;"
                                    (focus)="roledropdownOpen = true" 
                                    (blur)="roledropdownOpen = false">
                                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                                  </select>
                                </div>
                              
                                <div class="custom-arrow" [class.rotated]="roledropdownOpen">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                    <path d="M9 11.25L5.25 7.5H12.75L9 11.25Z" fill="#464646" />
                                  </svg>
                                </div>
                            </div>
                                                       
                        </div>

                        <div class="branch-RFID-container">
                            <div class="branch-container">
                                <p><span class="required" *ngIf="!userForm.get('branch')?.valid">*</span>Branch</p>
                                <div class="drop-down" [class.active]="isDropdownOpen">
                                    <select id="addBranch" formControlName="branch" name="branchDropDown"
                                        [ngClass]="{'filled': userForm.get('branch')?.value.length > 0}"
                                        (focus)="isDropdownOpen = true" 
                                        (blur)="isDropdownOpen = false" 
                                        (change)="onBranchChange()">
                                        <option value="" disabled selected>Select Branch</option>
                                        <option value="Cebu">Cebu</option>
                                        <option value="Davao">Davao</option>
                                    </select>
                                
                                    <div class="custom-arrow" [class.rotated]="isDropdownOpen">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            viewBox="0 0 18 18" fill="none">
                                            <path d="M9 11.25L5.25 7.5H12.75L9 11.25Z" fill="#464646" />
                                        </svg>
                                    </div>
                                </div>
                                
                                
                            </div>
                            <div class="rfid-container">
                                <p><span class="required" *ngIf="!userForm.get('rfidtag')?.valid">*</span>RFID Card</p>
                                <div class="input-wrapper">
                                    <input type="text" id="addRFID" formControlName="rfidtag" name="rfid"
                                        placeholder="Click Here" [ngClass]="{'filled': userForm.get('rfidtag')?.value.length > 0}">
                                    <svg class="rfid-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                        viewBox="0 0 16 18" fill="none">
                                        <path opacity="0.4"
                                            d="M14.4392 7.83165L13.7859 10.9667C13.2259 13.6742 12.1192 14.7692 10.0392 14.5442C9.70585 14.5142 9.34585 14.4467 8.95918 14.3417L7.83918 14.0417C5.05918 13.2992 4.19918 11.7542 4.85252 8.61915L5.50585 5.47665C5.63918 4.83915 5.79918 4.28415 5.99918 3.82665C6.77918 2.01165 8.10585 1.52415 10.3325 2.11665L11.4459 2.40915C14.2392 3.14415 15.0925 4.69665 14.4392 7.83165Z"
                                            fill="#B4B4B4" />
                                        <path
                                            d="M10.0391 14.5427C9.6258 14.8577 9.1058 15.1202 8.47246 15.3527L7.41913 15.7427C4.77246 16.7027 3.37913 15.9002 2.51913 12.9227L1.6658 9.96017C0.812462 6.98267 1.51913 5.40766 4.1658 4.44766L5.21913 4.05766C5.49246 3.96016 5.75246 3.87766 5.99913 3.82516C5.79913 4.28266 5.63913 4.83766 5.5058 5.47517L4.85246 8.61766C4.19913 11.7527 5.05913 13.2977 7.83913 14.0402L8.95913 14.3402C9.3458 14.4452 9.7058 14.5127 10.0391 14.5427Z"
                                            fill="#B4B4B4" />
                                    </svg>
                                </div>
                            </div>

                        </div>

                        <div class="fingerprint-1-container">
                            <p><span class="notRequired">*</span> Fingerprint File 1</p>
                            <input type="file" (change)="onFingerPrintFileSelected($event, 'fingerprintFile1')" id="addFinger-1" name="fingerprint-1" placeholder="Fingerprint File">
                        </div>

                    </div>
                    <!-- end of left div -->

                    <!-- start of right div -->

                    <div class="modal-content-right">
                        <div class="email-container">
                            <p><span class="required" *ngIf="!userForm.get('email')?.valid">*</span>Email</p>
                            <input type="text" id="email" formControlName="email" placeholder="Input Email"
                                [ngClass]="{'filled': userForm.get('email')?.value.length > 0}">
                        </div>
                        <div class="contact-container">
                            <p><span class="required" *ngIf="!userForm.get('phone')?.valid">*</span>Contact</p>
                            <input type="text" id="phone" formControlName="phone" placeholder="Input Phone Number"
                                [ngClass]="{'filled': userForm.get('phone')?.value.length > 0}">
                        </div>
                        <div class="fingerprint-id-container">
                            <div class="fingerprint-id-1">
                                <p><span class="required"
                                        *ngIf="!userForm.get('fingerprint1')?.valid">*</span>Fingerprint ID 1</p>
                                <input type="text" id="finger-id-1" name="finger-1" placeholder="Biometric ID"
                                    formControlName="fingerprint1" [ngClass]="{'filled': userForm.get('fingerprint1')?.value.length > 0}">
                            </div>
                            <div class="fingerprint-id-2">
                                <p><span class="notRequired">*</span>Fingerprint ID 2</p>
                                <input type="text" id="finger-id-2" name="finger-2" placeholder="Biometric ID"
                                    formControlName="fingerprint2" [ngClass]="{'filled': userForm.get('fingerprint2')?.value.length > 0}">
                            </div>
                        </div>


                        <div class="fingerprint-2-container">
                            <p><span class="notRequired">*</span>Fingerprint File 2</p>
                            <input type="file" (change)="onFingerPrintFileSelected($event, 'fingerprintFile2')" id="addFinger-2" name="fingerprint-2" placeholder="Fingerprint File" >
                        </div>
                    </div>
                </div>
            </form>
            <div class="footer">
                <button class="btn clear-btn" type="button" (click)="resetForm()">Clear</button>
                <button class="btn submit-btn" [ngClass]="{'btn-active': validateForm()}" [disabled]="!userForm.valid"
                    (click)="onSubmit()"
                    [ngStyle]="{'background-color': userForm.valid ? '#2165C9' : '#2165C999'}">Submit </button>
            </div>
        </div>
    </div>
</body>

<input type="file" accept=".jpg, .png" (change)="onFileSelected($event)" #fileInput style="display: none;" />