<body *ngIf="addUserForm">
    <div  class="container">
    
        <div class="header">
            <span>User</span>
            <button (click)="hideAddUserForm()" class="close">
                <img class="icon pointer" src="/assets/images/exit.png">
            </button>
        </div>
    

        <div class="main-container">
            <div class="left-container">
                <div class="photo-section">
                    <img class="photoholder" [src]="'/assets/images/max-smith.png'">
                    <div class="icons pointer">
                        <div class="edit">
                            <input type="file" (change)="onFileSelected($event)" accept="image/png, image/jpeg" #fileInput style="display:none">
                            <img class="icon pointer" src="/assets/images/edit-blue.png" (click)="fileInput.click()">
                        </div>
                        <div class="delete">
                            <img class="icon pointer" src="/assets/images/delete-red.png">
                        </div>
                    </div>
                </div>
    
                <div class="name">
                    <span>Full Name</span>
                    <input class="textbox" type="text" placeholder="Enter Name" [(ngModel)]="newEmployee.fullname">
                </div>
                <div class="email">
                    <span>Email</span>
                    <input class="textbox" type="email" placeholder="Enter Email" [(ngModel)]="newEmployee.email">
                </div>
                <div class="rfid-container">
                    <span>RFID</span>
                        <div class="rfid-content">
                            <div class="icon-holder ">
                                <img src="/assets/images/rfid-icon.png" class="rfid-icon" alt="fingerprint icon">
                            </div>
                            <div class="begin-scan pointer">
                                Begin scan
                            </div>
                            <div class="details-holder">
                                <span>RFID</span>
                                <input type="text" placeholder="ABC19021DC" disabled>
                            </div>
                            <div class="rfid-confirmation">
                                <div class="dismiss-rfid pointer">Dismiss</div>
                                <div class="submit-rfid pointer">Submit</div>
                            </div>
                        </div>
                </div>
                <div class="dismiss-container">
                    <div class="dismiss-user pointer">
                        Dismiss
                    </div>
                </div>
    
            </div>
            <div class="right-container">
    
                <div class="contact-number">
                    <span>Contact Number</span>
                    <input class="textbox" type="text" placeholder="+639 xxx xxx xxxx" [(ngModel)]="newEmployee.phone">
                </div>

                <div class="roles">
                    <span>Roles</span>
                    <select name="roles" #employeeRole class="roles-select">
                        <option value="driver_maintenance">Driver/ Maintenance</option>
                        <option value="project_coordinator">Project Coordinator</option>
                        <option value="full_stack_developer">Full Stack Developer</option>
                        <option value="qa_team_lead">Quality Assurance Specialist - Team Lead</option>
                        <option value="co_ceo">Co-CEO</option>
                        <option value="cfo">Chief Finance Officer</option>
                        <option value="ceo">Chief Executive Officer</option>
                        <option value="qa_specialist">Quality Assurance Specialist</option>
                        <option value="cad_operator">CAD Operator</option>
                        <option value="principal_dev_supervisor">Principal Development Supervisor</option>
                        <option value="cebu_branch_manager">Cebu Branch Manager</option>
                        <option value="hr_recruitment_assistant">HR and Recruitment Assistant</option>
                        <option value="pmo_manager">PMO Manager</option>
                        <option value="logistics_assistant">Logistics Assistant</option>
                        <option value="back_end_developer">Back End Developer</option>
                        <option value="product_design_manager">Product Design Manager</option>
                        <option value="administrative_assistant">Administrative Assistant</option>
                        <option value="quality_automation_supervisor">Quality Automation Supervisor</option>
                        <option value="logistics">Logistics</option>
                        <option value="front_end_developer">Front-end Developer</option>
                        <option value="liaison_officer">Liaison Officer</option>
                        <option value="administrative_officer">Administrative Officer</option>
                        <option value="admin_aide">Admin Aide</option>
                        <option value="it_administrator">IT Administrator</option>
                        <option value="sr_full_stack_developer">Sr. Full Stack Developer</option>
                        <option value="project_manager">Project Manager</option>
                        <option value="bubble_developer">Bubble Developer</option>
                        <option value="product_owner">Product Owner</option>
                        <option value="maintenance_worker">Maintenance Worker</option>
                        <option value="quality_assurance_specialist">Quality Assurance Specialist</option>
                        <option value="qa_manager">QA Manager</option>
                        <option value="tvi_head">TVI Head</option>
                        <option value="ui_ux_designer">UI/UX Designer</option>
                        <option value="software_dev_manager">Software Development Manager</option>
                        <option value="internal_finance">Internal Finance</option>
                        <option value="hr_consultant">HR Consultant</option>
                        <option value="scrum_master_product_owner">Scrum Master/Product Owner</option>
                        <option value="scrum_master">Scrum Master</option>
                        <option value="digital_creative_marketing">Digital Creative Marketing</option>
                        <option value="developer">Developer</option>
                        <option value="devops_engineer">DevOps Engineer</option>
                        <option value="lead_ui_ux_designer">Lead UI/UX Designer</option>
                        <option value="junior_full_stack_developer">Junior Full Stack Developer</option>
                        <option value="database_administrator">Database Administrator</option>                        
                    </select>
                </div>
    
                <div class="fingerprint-container">
                    <span>Fingerprint</span>
                    <div class="fingerprint-content">
                        <div class="icon-holder">
                        <img src="/assets/images/fingerprint-blue.png" class="fingerprint-icon" alt="fingerprint icon">
                    </div>
                        <div class="begin-scan pointer">
                            Begin scan
                        </div>
                        <div class="details-holder">
                            <span>Fingerprint ID</span>
                            <input type="text" placeholder="135135115161" disabled>
                        </div>
                        <div class="fingerprint-confirmation">
                        <div class="dismiss-fingerprint pointer">Dismiss</div>
                        <div class="submit-fingerprint pointer">Submit</div>
                    </div>
                    </div>
                </div>
                <div class="submit-user pointer" (click)="submitUser()">Submit</div>
            </div>
        </div>
    </div>
    </body>