<div class="side-bar">
    <div class="upper">
        <div class="project pointer"><img class="logo" src="/assets/images/logo.png"><span class="project-name">Jairosoft EINGRESS</span></div>
        <div class="dashboard pointer" [routerLink]="['/dashboard']"><img class=dasboard-icon src="/assets/images/dashboard1.png"><span>Dashboard</span></div>
        <div class="reports pointer" [routerLink]="['/reports']"><img class=reports-icon src="/assets/images/reports.png"><span>Reports</span></div>
        <div class="users pointer" [routerLink]="['/users']"><img class=users-icon src="/assets/images/users.png"><span>Users</span></div>
    </div>
    <div class="lower">
        <div class="lock-side pointer"><img class=collapse-icon src="/assets/images/collapse-right.png"><span>Collapse</span></div>
        <div class="logout pointer" [routerLink]="['/login']"><img class=logout-icon src="/assets/images/logout.png"><span>Logout</span></div>
    </div>
</div>