.search-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap as needed */
}

.search-field {
  position: relative;
  width: 488px;
  height: 35px;
}

.search-field input {
  width: 100%;
  height: 100%;
  padding-left: 35px; 
  font-size: 14px;
  border-radius: 5px;
  box-sizing: border-box;
  border: none; 
}

.search-field input:focus {
  outline: none; 
  border: 2px solid #878787; 
  border-width: 2px; 
}

.search-field .search-icon {
  position: absolute;
  right: 20px;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.dropdown {
  margin-top: 4px;
  position: absolute;
  left: 0;
  width: 100%;
  background: #ffffff;
  border-radius: 6px;
  max-height: 160px; /* Control the dropdown height */
  overflow-y: auto;
  z-index: 1000;
}

.dropdown-item {
  display: flex;
  justify-content: space-between; /* This aligns name and RFID on opposite ends */
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover{
  background: #f6f6f6;
}

.employee-name {
  font-size: 14px;
  font-weight: 300;
  margin-left: 15px;
}

.employee-rfid {
  font-size: 12px;
  font-weight: 400;
  margin-right: 15px;
  color: #464646; /* Make the RFID tag lighter in color */
}

.result-found:hover {
  background-color: #f1f1f1;
}

.no-results {
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Add some padding for spacing */
  color: #464646; /* Adjust color as needed */
  font-size: 14px; /* Adjust font size as needed */
  font-weight: 300;
  pointer-events: none;
}

.filter-button.active{
  background: rgba(255, 255, 255, 0.6);
}

.filter-button {
  display: flex;
  align-items: center;
  width: 171px;
  height: 35px;
  font-size: 14px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
  color: #464646;
  border: none;
  cursor: pointer;
  padding: 0 10px;
  gap: 10px;
  text-align: center;
  line-height: 35px; /* Centers text vertically */
}

.filter-button:hover,
.filter-button.active  {
  background: rgba(135, 135, 135, 0.6);
  color: white;
}

.filter-button img {
  width: 20px; /* Adjust size as needed */
  height: 20px; /* Adjust size as needed */
}

/* Change image color based on button state */
.filter-button:hover img,
.filter-button.active img {
  filter: brightness(0) invert(1); /* Adjust to match the text color */
}