

.add-user{
    width: 140px;
    height: 60px;
    border-radius: 10px; /* Updated border-radius */
    display: flex;
    align-items: center;
    background-color: #e3f2ff;
    justify-content: center;
    color: var(--secondary);
    cursor: pointer;
}

.add-user img{
    width: 20px;
    height: 20px;
}

.add-user:hover{
    background-color: var(--secondary);
    color: white;
}

span{
    margin-left: 10px;
    font-size: 1rem;
}

.add-user:hover img{
    content: url('/assets/images/add-white.png');
}

@media screen and (max-width: 700px) {
    
    .add-user {
        width: 40px; /* Updated width */
    }

    .add-user img{
        width: 20px;
        height: 20px;
    }

    span{
        display: none;
    }
 }