.security-content {
    width: 100%;
    height: calc(100% - 50px); /* Set the height to fill the remaining viewport height */
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }

.upper{
  gap: 20px;
  display: grid;
  grid-row: 1 / 2;
}

.lower{
  grid-row: 2 / 7;
  height: 100%;

}
  .logins-today {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    background-color: var(--background);
    border-radius: 10px;
    color: var(--success);
    padding: 0;
  }
  
  .not-on-site {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    font-family: Poppins;

    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    background-color: var(--background);
    border-radius: 10px;
    color: var(--secondary);
  }
  
  .unauthorized-attempts {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-items: center;
    font-family: Poppins;

    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    background-color: var(--background);
    border-radius: 10px;
    color: var(--error);
  }
  
  .count{
    margin-top: 20px;
    font-size: 2rem;
    color: black;
  }
  
  .activity{
    grid-column: 1 / 4;
    grid-row: 2 / 9;
    height: 100%;
  }
  
  .activity-content {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20px 1fr; /* First column 20px, second column fills the remaining width */
    grid-template-rows: repeat(8, 1fr) 10px 50px; /* 9 rows with equal height, 9th row with 10px height, 10th row returns to 1fr */
    gap: 10px; /* Gap between grid items */
  }
  
  .people-count{
    grid-column: 1 / 2;
    grid-row: 1 / 9;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(8, 1fr);
  }
  
  .histogram{
    grid-column: 2 / 3;
    grid-row: 1 / 9;
    background-color: var(--background);
    border-radius: 10px;
  }
  
  .dates{
    grid-column: 2 / 3;
    grid-row: 9 / 10;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: 1;
    align-items: center;
    font-size: .5rem;
  }
  
  
  .month{
    grid-column: 2 / 3;
    grid-row: 10 / 11;
    align-items: center;
    text-align: center;
    text-justify:auto ;
  }
  
  .people{
    font-family: Poppins;
  font-size: .5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  
  }
  

  @media screen and (max-width: 1300px) {
    .security-content{
      grid-template-rows: repeat(4, 1fr);
    }
    .upper{
      grid-row: 1 / 2;
    }
    .lower{
      grid-row: 2 / 6;
    }
  }
  

  @media screen and (max-width: 700px) {
    .upper{
      font-size: 12px;
    }
    .count{
      font-size: 1rem;
    }
  }