.security-content {
    width: 100%;
    height: calc(100% - 50px); /* Set the height to fill the remaining viewport height */
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }

.upper{
  margin-top: 20px;
  gap: 20px;
  display: grid;
  grid-row: 1 / 2;
}

.lower{
  grid-row: 2 / 7;
  height: 100%;

}
  .logins-today {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    background-color: var(--background);
    border-radius: 10px;
    color: var(--success);
    padding: 20px;
  }
  
  .not-on-site {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    background-color: var(--background);
    border-radius: 10px;
    color: var(--secondary);
    padding: 20px;
  }
  
  .total {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    background-color: var(--background);
    border-radius: 10px;
    color: #e69b00;
    padding: 20px;
  }
  
  .count{
    font-size: 3.5rem;
    color: black;
    height: 60px;
  }
  
  .activity {
    grid-column: 1 / 4;
    grid-row: 2 / 9;
    height: 100%;
  }
  
  .activity-content {
    padding-top: 20px;
    width: 80%; /* Set the width to a specific percentage */
    max-width: 800px; /* Set a maximum width in pixels */
    height: 100%;
    display: grid;  
  }
  
  
  