<body>
    <div class="modal-overlay">
        <div class="modal-container">
            <div class="header">
                <div class="upperHeader">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        class="exitUpdate pointer" (click)="exitUpdateModal()">
                        <path
                            d="M6.4 19L5 17.6L10.6 12L5 6.4L6.4 5L12 10.6L17.6 5L19 6.4L13.4 12L19 17.6L17.6 19L12 13.4L6.4 19Z"
                            fill="#464646" />
                    </svg>
                </div>
                <div class="lowerHeader">
                    <div class="leftLH">
                        <img class="profile-picture"
                            [src]="photoSrc || baseUrl + '/profile-image/' + employeeDetails?.profileImage">
                        <div class="header-text">
                            <span class="header-title">{{currentName}}</span>
                            <span class="header-subtitle">{{currentEmail}}</span>
                        </div>
                    </div>
                    <div class="rightLH">
                        <div class="UploadPhoto pointer" (click)="fileInput.click()">Upload Profile
                        </div>
                        <input type="file" formControlName="profileImage" (change)="onFileSelected($event)"
                            accept="image/png, image/jpeg" #fileInput style="display: none;">
                    </div>
                </div>
            </div>
            <div class="lowerModal">
                <form [formGroup]="updateEmployeeForm">
                    <div class="modal-content">
                        <!--start of left div-->
                        <div class="modal-content-left">
                            <div class="name-container">
                                <p> Full Name</p>
                                <input type="text" id="addUserName" formControlName="fullname" name="fullname"
                                    placeholder="Input Full Name" [ngClass]="{'filled': updateEmployeeForm.get('fullname')?.value.length > 0}">
                            </div>
                            <div class="role-container">
                                <p><span class="required" *ngIf="!updateEmployeeForm.get('role')?.valid">*</span>Role</p>
                                <div class="drop-down" (click)="toggleDropdown()" #roleDropdown>
                                    <div class="dropdown-container">
                                        <div 
                                            class="custom-dropdown" 
                                            [ngClass]="{'filled': updateEmployeeForm.get('role')?.value}">
                                            <div class="selected-option">{{ selectedRole || 'Select Role' }}</div>
                                            <div *ngIf="roledropdownOpen" class="dropdown-options">
                                                <div 
                                                    class="dropdown-option" 
                                                    *ngFor="let role of roles" 
                                                    (click)="selectRole(role)">
                                                    {{ role }}
                                                </div>
                                            </div>
                                        </div>
                                  
                                      <!-- Optional Hidden select element -->
                                      <select 
                                        id="addRole" 
                                        formControlName="role" 
                                        name="roleDropDown" 
                                        style="display: none;"
                                        (focus)="roledropdownOpen = true" 
                                        (blur)="roledropdownOpen = false">
                                        <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                                    </select>
                                </div>
                            
                                <div class="custom-arrow" [class.rotated]="roledropdownOpen">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                                        <path d="M9 11.25L5.25 7.5H12.75L9 11.25Z" fill="#464646" />
                                    </svg>
                                </div>
                            </div>                         
                        </div>

                            <div class="branch-RFID-container">
                                <div class="branch-container">
                                    <p><span class="required" *ngIf="!updateEmployeeForm.get('branch')?.valid">*</span>Branch</p>
                                    <div class="drop-down" [class.active]="isDropdownOpen">
                                        <select id="addBranch" formControlName="branch" name="branchDropDown"
                                            [ngClass]="{'filled': updateEmployeeForm.get('branch')?.value.length > 0}"
                                            (focus)="isDropdownOpen = true" 
                                            (blur)="isDropdownOpen = false" 
                                            (change)="onBranchChange()">
                                            <option value="" disabled selected>Select Branch</option>
                                            <option value="Cebu">Cebu</option>
                                            <option value="Davao">Davao</option>
                                        </select>
                                    
                                        <div class="custom-arrow" [class.rotated]="isDropdownOpen">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                                viewBox="0 0 18 18" fill="none">
                                                <path d="M9 11.25L5.25 7.5H12.75L9 11.25Z" fill="#464646" />
                                            </svg>
                                        </div>
                                    </div>                                  
                                </div>

                                <div class="rfid-container">
                                    <p>RFID Card</p>
                                    <div class="input-wrapper">
                                        <input type="text" id="addRFID" formControlName="rfidtag" name="rfid"
                                            placeholder="Click Here" [ngClass]="{'filled': updateEmployeeForm.get('rfidtag')?.value.length > 0}">
                                        <svg class="rfid-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="18"
                                            viewBox="0 0 16 18" fill="none">
                                            <path opacity="0.4"
                                                d="M14.4392 7.83165L13.7859 10.9667C13.2259 13.6742 12.1192 14.7692 10.0392 14.5442C9.70585 14.5142 9.34585 14.4467 8.95918 14.3417L7.83918 14.0417C5.05918 13.2992 4.19918 11.7542 4.85252 8.61915L5.50585 5.47665C5.63918 4.83915 5.79918 4.28415 5.99918 3.82665C6.77918 2.01165 8.10585 1.52415 10.3325 2.11665L11.4459 2.40915C14.2392 3.14415 15.0925 4.69665 14.4392 7.83165Z"
                                                fill="#B4B4B4" />
                                            <path
                                                d="M10.0391 14.5427C9.6258 14.8577 9.1058 15.1202 8.47246 15.3527L7.41913 15.7427C4.77246 16.7027 3.37913 15.9002 2.51913 12.9227L1.6658 9.96017C0.812462 6.98267 1.51913 5.40766 4.1658 4.44766L5.21913 4.05766C5.49246 3.96016 5.75246 3.87766 5.99913 3.82516C5.79913 4.28266 5.63913 4.83766 5.5058 5.47517L4.85246 8.61766C4.19913 11.7527 5.05913 13.2977 7.83913 14.0402L8.95913 14.3402C9.3458 14.4452 9.7058 14.5127 10.0391 14.5427Z"
                                                fill="#B4B4B4" />
                                        </svg>
                                    </div>
                                </div>

                            </div>

                            <div class="fingerprint-1-container">
                                <p><span class="notRequired">*</span> Fingerprint Template 1</p>
                                <div class="drag-drop-area" [ngClass]="{'dragover': isDraggingOver1, 'file-too-large': isFileTooLarge1 || isFileTypeInvalid1}" (drop)="onFingerPrintFileDropped($event, 'fpFile1')" (dragover)="onDragOver($event, 'fpFile1')" (dragleave)="onDragLeave($event)">
                                    <div class="file-logo">
                                        <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.6245 23.2495H30.8745L25.2683 15.937L21.5308 20.812L19.012 17.562L14.6245 23.2495ZM12.9995 29.7495C12.1058 29.7495 11.3407 29.4313 10.7042 28.7948C10.0677 28.1584 9.74951 27.3933 9.74951 26.4995V6.99951C9.74951 6.10576 10.0677 5.34066 10.7042 4.7042C11.3407 4.06774 12.1058 3.74951 12.9995 3.74951H32.4995C33.3933 3.74951 34.1584 4.06774 34.7948 4.7042C35.4313 5.34066 35.7495 6.10576 35.7495 6.99951V26.4995C35.7495 27.3933 35.4313 28.1584 34.7948 28.7948C34.1584 29.4313 33.3933 29.7495 32.4995 29.7495H12.9995ZM12.9995 26.4995H32.4995V6.99951H12.9995V26.4995ZM6.49951 36.2495C5.60576 36.2495 4.84066 35.9313 4.2042 35.2948C3.56774 34.6584 3.24951 33.8933 3.24951 32.9995V10.2495H6.49951V32.9995H29.2495V36.2495H6.49951Z" fill="#2165C9"/>
                                        </svg>
                                    </div>    
                                    <div class="drag-drop-display">
                                        <p class="drag-drop-title">Drag & Drop or <span (click)="fingerprintInput1.click()" class="browse">browse</span></p> 
                                        <ng-container *ngIf="selectedFingerPrintFile1">
                                            <p class="drag-drop-file">File: {{ selectedFingerPrintFile1.name }} attached</p>
                                        </ng-container>                                                                                                              

                                        <ng-container *ngIf="isFileTooLarge1">
                                            <p class="error-message">File exceeds the 5MB size limit.</p>
                                        </ng-container>
                                    
                                        <ng-container *ngIf="isFileTypeInvalid1">
                                            <p class="error-message">Invalid file type. Only .dat files are allowed.</p>
                                        </ng-container>
                                    </div>
                                    <input type="file" #fingerprintInput1 (change)="onFingerPrintFileSelected($event,'fpFile1')" id="addFinger-1" name="fingerprint-1" hidden>
                                </div>              
                            </div>

                        </div>
                        <!-- end of left div -->

                        <!-- start of right div -->

                        <div class="modal-content-right">
                            <div class="email-container">
                                <p>Email</p>
                                <input type="text" id="addEmail" formControlName="email" name="email"
                                    placeholder="Input Email" [ngClass]="{'filled': updateEmployeeForm.get('email')?.value.length > 0}">
                            </div>
                            <div class="contact-container">
                                <p>Contact</p>
                                <input type="text" id="addContact" formControlName="phone" name="contact"
                                    placeholder="+63 XXX XXX XXXX" [ngClass]="{'filled': updateEmployeeForm.get('phone')?.value.length > 0}">
                            </div>
                            <div class="fingerprint-id-container">
                                <div class="fingerprint-id-1">
                                    <p>Fingerprint ID 1</p>
                                    <input type="text" id="finger-id-1" name="finger-1" placeholder="Biometric ID"
                                        formControlName="fingerprint1" [ngClass]="{'filled': updateEmployeeForm.get('fingerprint1')?.value.length > 0}">
                                </div>
                                <div class="fingerprint-id-2">
                                    <p>Fingerprint ID 2</p>
                                    <input type="text" id="finger-id-2" name="finger-2" placeholder="Biometric ID"
                                        formControlName="fingerprint2" [ngClass]="{'filled': updateEmployeeForm.get('fingerprint2')?.value.length > 0}">
                                </div>
                            </div>


                            <div class="fingerprint-2-container">
                                <p><span class="notRequired">*</span> Fingerprint Template 2</p>
                                <div class="drag-drop-area" [ngClass]="{'dragover': isDraggingOver2, 'file-too-large': isFileTooLarge2 || isFileTypeInvalid2}" (drop)="onFingerPrintFileDropped($event,'fpFile2')" (dragover)="onDragOver($event, 'fpFile2')" (dragleave)="onDragLeave($event)">
                                    <div class="file-logo">
                                        <svg width="39" height="40" viewBox="0 0 39 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M14.6245 23.2495H30.8745L25.2683 15.937L21.5308 20.812L19.012 17.562L14.6245 23.2495ZM12.9995 29.7495C12.1058 29.7495 11.3407 29.4313 10.7042 28.7948C10.0677 28.1584 9.74951 27.3933 9.74951 26.4995V6.99951C9.74951 6.10576 10.0677 5.34066 10.7042 4.7042C11.3407 4.06774 12.1058 3.74951 12.9995 3.74951H32.4995C33.3933 3.74951 34.1584 4.06774 34.7948 4.7042C35.4313 5.34066 35.7495 6.10576 35.7495 6.99951V26.4995C35.7495 27.3933 35.4313 28.1584 34.7948 28.7948C34.1584 29.4313 33.3933 29.7495 32.4995 29.7495H12.9995ZM12.9995 26.4995H32.4995V6.99951H12.9995V26.4995ZM6.49951 36.2495C5.60576 36.2495 4.84066 35.9313 4.2042 35.2948C3.56774 34.6584 3.24951 33.8933 3.24951 32.9995V10.2495H6.49951V32.9995H29.2495V36.2495H6.49951Z" fill="#2165C9"/>
                                        </svg>
                                    </div> 
                                    <div class="drag-drop-display">
                                        <p class="drag-drop-title">Drag & Drop or <span (click)="fingerprintInput2.click()" class="browse">browse</span></p>                                  
                                        <ng-container *ngIf="selectedFingerPrintFile2">
                                            <p class="drag-drop-file">File: {{ selectedFingerPrintFile2.name }} attached</p>
                                        </ng-container>                                                                                                              

                                        <ng-container *ngIf="isFileTooLarge2">
                                            <p class="error-message">File exceeds the 5MB size limit.</p>
                                        </ng-container>
                                    
                                        <ng-container *ngIf="isFileTypeInvalid2">
                                            <p class="error-message">Invalid file type. Only .dat files are allowed.</p>
                                        </ng-container>
                                    </div>
                                    <input type="file" #fingerprintInput2 (change)="onFingerPrintFileSelected($event,'fpFile2')" id="addFinger-2" name="fingerprint-2" hidden>
                                </div>  
                            </div>  
                        </div>
                    </div>
                </form>
                <div class="footer">
                    <button class="btn clear-btn" type="button" (click)="resetForm()">Cancel</button>
                    <button class="btn submit-btn"
                        [ngStyle]="{'background-color': updateEmployeeForm.dirty ? '#2165C9' : '#2165C999'}"
                        [disabled]="!updateEmployeeForm.dirty || !updateEmployeeForm.valid"
                        (click)="updateEmployee($event)">
                        Save Changes
                    </button>
                </div>
            </div>

        </div>
    </div>
</body>