input[type="checkbox"] {
    padding-top: 10px;
    width: 15px;
    height: 15px;
}

.table {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr; /* Assuming one column */
    grid-template-rows: 60px auto; /* Fixed height for header, rest fills remaining space */
    padding-left: 20px;
    padding-right: 20px;
    
}

.table-header {
    position: sticky;
    color: gray;
    display: grid;
    grid-template-columns: 20px repeat(4, 1fr); /* Fixed width first column, rest are 1fr */
    align-items: center;
    gap: 20px;
    padding: 20px;
    position: sticky; /* Keep the header fixed */
    top: 0; /* Stick the header to the top */
    background-color: white; /* Optional: set a background color */
    z-index: 1; /* Ensure header is above table body */
}

.table-body{
    overflow-y: auto;
}

@media screen and (max-width: 1000px) {
.table{
    padding: 0;
    height: auto;
    width: auto;
    overflow-x: auto;
}
 }
