.search {
    width: 100%; /* Updated width */
    height: 40px; /* Updated height */
    border-radius: 20px; /* Updated border-radius */
    background-color: white; /* Updated background-color */
    display: flex;
    align-items: center;  
}

.search:hover {
    border: 1px solid var(--background);
}


.search img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.search input{
    margin-left: 20px;
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    border-radius: 20px;
}

.search.active {
    border: 1px solid var(--background); /* Border color when input is focused */
}

@media screen and (max-width: 700px) {
 
 }