.search {
    height: 60px; /* Updated height */
    border-radius: 10px; /* Updated border-radius */
    background-color: #f5f5f5; /* Updated background-color */
    display: flex;
    align-items: center;  
    width: 300px;

}

.search:hover {
    background-color: #ececec; /* Updated background-color */
}

.search:hover input{
        background-color: #ececec; /* Updated background-color */
}


.search img {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.search input{
    margin-left: 20px;
    flex: 1;
    border: none;
    outline: none;
    font-size: 1rem;
    width: 100%;
    background-color: #f5f5f5; /* Updated background-color */
}




@media screen and (max-width: 700px) {
 
 }