<div class="main-container">
   <span >Users</span>
   <div class="inner-container">
      <div class="upper">
         <div class="upper-left">
            <div class="search">
               <img src = "/assets/images/search.png">
               <input type="text"  name="user" placeholder="Search User">
            </div>
         </div>
         <div class="upper-right">
            <div class="import">
               <img src = "/assets/images/import-green.png">
               Import
            </div>
            <div class="add-user">

            </div>
            <div class="delete">

            </div>
         </div>
      </div>
      <div class="lower"></div>
   </div>
</div>
