<div class="main-container">
   <span>Users</span>
   <div class="inner-container">
      <div class="upper">
         <div class="upper-left">
            <app-searchfield></app-searchfield>
         </div>
         <div class="upper-right">
            <app-delete-btn></app-delete-btn>
            <app-add-user-btn></app-add-user-btn>
            <app-import-btn></app-import-btn>
         </div>
      </div>
      <div class="lower">
         <app-table></app-table> <!-- Include the app-table component here -->
      </div>
   </div>
</div>
