<!-- users.component.html -->
<div class="main-container">
  <span>Users</span>
  <div class="inner-container">
    <div class="upper">
      <div class="upper-left">
        <app-searchfield></app-searchfield>
      </div>
      <div class="upper-right">
        <app-delete-btn class="pointer"></app-delete-btn>
       <app-add-user-btn (addUserClicked)="onAddUserBtnClicked()" class="pointer"></app-add-user-btn>
      </div>
    </div>
    <div class="lower">
      <app-table></app-table>
      <app-add-user-form></app-add-user-form>
    </div>
  </div>
</div>