.contents {
  width: calc(100vw - 285px);
  /* Set the width of the container */
  height: 100%;
  /* Set the height to 100% of viewport height */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 4 columns of equal width */
  grid-template-rows: repeat(2, 1fr);
  /* 4 rows with height based on content */
  gap: 20px;
  /* Gap between grid items */
}

.navbar:hover+.contents {
  width: calc(100% - 216px);
  /* Adjust width as needed */
}

.security-summary {
  padding: 40px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  background-color: white;
  border-radius: 20px;
}

.recent-alerts {
  padding: 40px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: white;
  border-radius: 20px;
}

.recent-login {
  padding: 40px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
  background-color: white;
  border-radius: 20px;
}



@media screen and (max-width: 1300px) {

}


