<div class="contents">
    <div class="security-summary">
        <span>Security Summary</span>
        <div class="security-content">
            <div class="logins-today">
                <div>Logins Today</div>
                <div class="count">50</div>
            </div>
            <div class="not-on-site">
                <div>Not on site </div>
                <div class="count">20</div>
            </div>
            <div class="unauthorized-attempts">
                Unauthorized Attempts
                <div class="count">5</div>
            </div>

            <div class="activity">
                <div>Activity Chart</div>

                <div class="activity-content">
                    <div class="people-count">
                        <div class="people">80</div>
                        <div class="people">70</div>
                        <div class="people">60</div>
                        <div class="people">50</div>
                        <div class="people">40</div>
                        <div class="people">30</div>
                        <div class="people">20</div>
                        <div class="people">10</div>
                    </div>
                    <div class="histogram"></div>
                    <div class="dates">
                        <div class="date">1</div>
                        <div class="date">2</div>
                        <div class="date">3</div>
                        <div class="date">4</div>
                        <div class="date">5</div>
                        <div class="date">5</div>
                        <div class="date">6</div>
                        <div class="date">7</div>
                        <div class="date">8</div>
                        <div class="date">9</div>
                        <div class="date">10</div>
                        <div class="date">11</div>
                        <div class="date">12</div>
                        <div class="date">13</div>
                        <div class="date">14</div>
                        <div class="date">15</div>
                        <div class="date">16</div>
                        <div class="date">17</div>
                        <div class="date">18</div>
                        <div class="date">19</div>
                        <div class="date">20</div>
                        <div class="date">21</div>
                        <div class="date">22</div>
                        <div class="date">23</div>
                        <div class="date">24</div>
                        <div class="date">25</div>
                        <div class="date">26</div>
                        <div class="date">27</div>
                        <div class="date">28</div>
                        <div class="date">29</div>
                        <div class="date">30</div>
                        <div class="date">31</div>
                    </div>
                    <div class="month">
                        February
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="recent-alerts">
        <span>Recent Alerts</span>
    </div>
    <div class="recent-login">
        <span>Recent Login</span>
    </div>
</div>