.contents {
  width: 1250px;
  /* Set the width of the container */
  height: 100%;
  /* Set the height to 100% of viewport height */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 4 columns of equal width */
  grid-template-rows: repeat(4, auto);
  /* 4 rows with height based on content */
  gap: 20px;
  /* Gap between grid items */
}

.navbar:hover+.contents {
  width: calc(100% - 216px);
  /* Adjust width as needed */
}

.security-summary {
  padding: 40px;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 4;
  background-color: white;
  border-radius: 20px;
}

.recent-alerts {
  padding: 40px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
  background-color: white;
  border-radius: 20px;
}

.recent-login {
  padding: 40px;
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 4;
  grid-column-end: 6;
  background-color: white;
  border-radius: 20px;
}



@media screen and (max-width: 1300px) {
  .contents {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 columns of equal width */
    grid-template-rows: repeat(5, 1fr);
    /* 5 rows of equal height */
    gap: 20px;
  }

  .security-summary {

    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
    /* Adjusted to span 2 columns */
    background-color: white;
    border-radius: 20px;
  }

  .recent-alerts {

    grid-row: 4 / 6;
    grid-column: 1 / 2;
    background-color: white;
    border-radius: 20px;
  }

  .recent-login {

    grid-row: 4 / 6;
    grid-column: 2 / 3;
    /* Adjusted to span 2 columns */
    background-color: white;
    border-radius: 20px;
  }
}


.security-content {
  margin-top: 40px;
  width: 100%;
  height: calc(100% - 50px); /* Set the height to fill the remaining viewport height */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto auto;
  gap: 20px;
}

.logins-today {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding-top: 20px;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  background-color: var(--background);
  border-radius: 10px;
  color: var(--success);
}

.not-on-site {
  grid-column: 2 / 3;
  grid-row: 1 / 2;

  padding-top: 20px;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  background-color: var(--background);
  border-radius: 10px;
  color: var(--secondary);
}

.unauthorized-attempts {
  grid-column: 3 / 4;
  grid-row: 1 / 2;

  padding-top: 20px;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  background-color: var(--background);
  border-radius: 10px;

  color: var(--error);
}

.count{
  margin-top: 20px;
  font-size: 2rem;
  color: black;
}

.activity{
  grid-column: 1 / 4;
  grid-row: 2 / 9;
  height: auto;
}

.activity-content {
  width: 100%;

  padding: 20px;
  height: 100%;
  display: grid;
  grid-template-columns: 20px 1fr; /* First column 20px, second column fills the remaining width */
  grid-template-rows: repeat(9, 1fr) 10px 1fr; /* 9 rows with equal height, 9th row with 10px height, 10th row returns to 1fr */
  gap: 10px; /* Gap between grid items */
}

.people-count{
  grid-column: 1 / 2;
  grid-row: 1 / 9;


  display: grid;
  grid-template-columns: 1;
  grid-template-rows: repeat(8, 1fr);
}

.histogram{
  grid-column: 2 / 3;
  grid-row: 1 / 9;
  background-color: var(--background);
  border-radius: 10px;
}

.dates{
  grid-column: 2 / 3;
  grid-row: 9 / 10;

  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: 1;

  font-size: .5rem;
}


.month{
  grid-column: 2 / 3;
  grid-row: 10 / 11;

  text-align: center;
  text-justify:auto ;
}

.people{
  font-family: Poppins;
font-size: .5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: center;

}
