
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{

    --hover: #18263A;
    --primary:#0C131D;
    --secondary:#2291F2;
    --black:#141414;
    --white:#F6F6F6;
    --paragraph:#555555;
    --error:#F12D2D;
    --success:#008B38;
    --warning:#FFA500;
    --icons-primary:#314159;
    --icons-secondary:#4E6384;
    --icons-tertiary:#95A1B5;
    --background:#EAEAEA;
}

*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
    border: none;
    text-decoration: none;  
    margin: 0;
    padding: 0;
}


.pointer{
    cursor: pointer;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--background); 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
}