<div class="main-container">
    <div class="alerts-holder">
        <div class="color-holder login"></div>
        <div class="name-holder">
            <p>Sanny Paul has entered the building</p>
        </div>
    </div>

    <div class="alerts-holder">
        <div class="color-holder login"></div>
        <div class="name-holder">
            <p>Sanny Paul has entered the building</p>
        </div>
    </div>

    <div class="alerts-holder">
        <div class="color-holder login"></div>
        <div class="name-holder">
            <p>Sanny Paul has entered the building</p>
        </div>
    </div>

    <div class="alerts-holder">
        <div class="color-holder login"></div>
        <div class="name-holder">
            <p>Sanny Paul has entered the building</p>
        </div>
    </div>

    <div class="alerts-holder">
        <div class="color-holder attempts"></div>
        <div class="name-holder">
            <p>Someone has tried to enter the building</p>
        </div>
    </div>

    <div class="alerts-holder">
        <div class="color-holder attempts"></div>
        <div class="name-holder">
            <p>Someone has tried to enter the building</p>
        </div>
    </div>

    <div class="alerts-holder">
        <div class="color-holder login"></div>
        <div class="name-holder">
            <p>Sanny Paul has entered the building</p>
        </div>
    </div>
</div>
