.main-container {
    margin: 20px auto;
    border: none;
    border-radius: 5px;
    height: 210px; /* Set a fixed height */
    overflow-y: auto;
    padding-right: 20px; /* Add padding for the scrollbar */
    box-sizing: border-box; /* Ensure padding doesn't increase container size */
    height: 100%;
  }
  
  .alerts-holder {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .line {
    width: 100%;
    height: 2px;
    background-color: var(--background);
    position: absolute; /* Position the line */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
  }
  
  .color-holder {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: var(--success); /* Green dot color */
    position: relative;
  }
  
  .color-holder.error {
    background-color: var(--error); /* Red dot color */
  }
  
  .name-holder {
    flex: 1;
    margin-left: 30px; /* Add margin to separate dot from text */
  }
  