input[type="checkbox"] {
    padding-top: 10px;
    width: 15px;
    height: 15px;
}

.user {
    padding-left: 20px; 
    padding-right: 20px; 
    display: flex;
    grid-template-columns: 20px repeat(4, 1fr); 
    align-items: center;
    gap: 20px;
    border-top: 1px solid var(--background);
}

.user:hover {
    background-color: var(--background);
}

.user-content {
    display: flex; /* Use flexbox for alignment */
    align-items: center;
    gap: 20px;
}

.user img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid var(--secondary);
    cursor: pointer;
}

.employee-info-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    cursor: pointer;
    width: 100%;
   
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
